{% extends 'mainlayout/mainlayer.html' %}
{% block name %}
<link rel="stylesheet" href="https://unpkg.com/flickity@2.2.1/dist/flickity.css" media="screen">
<script src="https://unpkg.com/flickity@2.2.1/dist/flickity.pkgd.min.js"></script>

<div style="display: flex;justify-content: space-around;">
    <div style="text-align: center;line-height:normal;cursor:pointer;" onClick="window.open('https://www.wku.ac.kr/')">
        <div style="background-color: grey;border-radius: 50px;width: 50px;height: 50px;margin: auto;">
            <!-- 이미지 넣기 -->
        </div>
        <span style="font-size: 80%;">학교<br>홈페이지</span>
    </div>
    <div style="text-align: center;line-height:normal;cursor:pointer;" onClick="window.open('http://intra.wku.ac.kr/')">
        <div style="background-color: grey;border-radius: 50px;width: 50px;height: 50px;margin: auto;">
            <!-- 이미지 넣기 -->
        </div>
        <span style="font-size: 80%;">웹정보<br>서비스</span>
    </div>
    <div style="text-align: center;line-height:normal;cursor:pointer;" onClick="window.open('https://www.wku.ac.kr/')">
        <div style="background-color: grey;border-radius: 50px;width: 50px;height: 50px;margin: auto;">
            <!-- 이미지 넣기 -->
        </div>
        <span style="font-size: 80%;">학사<br>공지</span>
    </div>
    <div style="text-align: center;line-height:normal;cursor:pointer;" onClick="window.open('https://www.wku.ac.kr/')">
        <div style="background-color: grey;border-radius: 50px;width: 50px;height: 50px;margin: auto;">
            <!-- 이미지 넣기 -->
        </div>
        <span style="font-size: 80%;">학사<br>일정</span>
    </div>
    <div style="text-align: center;line-height:normal;cursor:pointer;" onClick="window.open('https://www.wku.ac.kr/')">
        <div style="background-color: grey;border-radius: 50px;width: 50px;height: 50px;margin: auto;">
            <!-- 이미지 넣기 -->
        </div>
        <span style="font-size: 80%;">장학<br>공지</span>
    </div>
    <div style="text-align: center;line-height:normal;cursor:pointer;" onClick="window.open('http://elibrary.wku.ac.kr/')">
        <div style="background-color: grey;border-radius: 50px;width: 50px;height: 50px;margin: auto;">
            <!-- 이미지 넣기 -->
        </div>
        <span style="font-size: 80%;">도서관</span>
    </div>
</div>

<div class="component">
<div style="padding:7px;" class="badge badge-pill badge-info">주요정보</div>
<hr style="border-style: dashed;">
<!-- 원래 처음 챗봇 형태 -->
<!-- <div style="display: flex;justify-content: space-evenly;text-align: center;">
    <div style="width: 45%;">
        <a href="{% url 'mainpage:goto_chatbot' %}">
        <div style="height:25vw;max-height: 300px;border-radius: 10px;margin:auto">
            <img style="border-style:outset;border-color:aliceblue;" width='100%' height="100%" src="https://www.traveltimes.co.kr/news/photo/201807/104352_482_1650.jpg">
        </div>
        </a>
        <span>챗봇 사용하기</span>
    </div>
    <div style="width: 45%;">
        <div style="height:25vw;max-height: 300px;border-radius: 10px;background-color: grey;margin:auto">
            
        </div>
        <span>영상 자료 확인</span>
    </div>
</div> -->
<div style="text-align: center;">
    <!-- 배경화면으로 옆으로 보이게 하기 -->
    <a class="main_function" href="{% url 'mainpage:goto_chatbot' %}">챗봇 사용하기</a>
    <a class="main_function" href="#">키워드 생각중</a>
    {% for i in show_all %}
        {% if i.board_url_name != "notice" %}        
            <a class="main_function" href="{% url 'forms:selectform' i.board_url_name %}">{{i.board_name}}</a>
        {% endif %}
    {% endfor %}
</div>
</div>

<div class="component">
    <a style="float: right;" href="{% url 'forms:selectform' 'infoboard' %}">더보기 ></a>
    <div style="padding:7px;" class="badge badge-pill badge-info">추천정보</div>
    <hr style="border-style: dashed;">
    <!-- 해당 개시글로 가기 및 첫번째 이미지 기준으로 섬네일 보이게하기 -->
    <div style="margin-top:10px;" class="gallery js-flickity" data-flickity-options='{ "freeScroll": "true", "contain": true, "prevNextButtons": false,"pageDots": false,"imagesLoaded": true, "setGallerySize": false}'>
        {% for board in image_board %}
            <a target='_blank' class="gallery-cell" href="{% url 'forms:shw_form' board.category.board_url_name board.id %}">
                <img width='100%' height="100%" src="{{board.get_first_image}}">
                <div class="gallery-cell-title">{{board.title}}</div>
            </a>
        {% endfor %}
    </div>
</div>

<!-- <div class="component">
    <div style="padding:7px;" class="badge badge-pill badge-info">게시판</div>
    <hr style="border-style: dashed;">
    <div>
        {% for i in show_all %}
            <a style="color:black;display:block;text-align: center; background-color: aquamarine; margin:7px;font-size: large;border-radius: 50px;padding: 5px;" href="{% url 'forms:selectform' i.board_url_name %}">{{i.board_name}}</a>
        {% endfor %}
    </div>
</div> -->
{% endblock %}